<launch>
  <arg name="init_latitude" default="36.37081389" />
  <arg name="init_longtitude" default="127.36651111" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find omo_r1_gazebo)/worlds/empty.world"/>
<!--    <arg name="world_name" value="$(find omo_r1_gazebo)/worlds/static_map_plugin.world"/>-->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <include file="$(find omo_r1_gazebo)/launch/spawn_omo_r1_mod.launch">
    <arg name="init_latitude" value="$(arg init_latitude)"/>
    <arg name="init_longtitude" value="$(arg init_longtitude)"/>
  </include>
</launch>
